@model dynamic

@{
    ViewBag.Title = "Natural Language Demo";
}

<h2>Get Insight</h2>

<div>
    <p>
        <form>
            <h3>A Random Phrase:</h3>
            <input type="text">@Model</input>
            <input type="button" value="Understand" />
        </form>
    </p>
</div>


