@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Anlis.co</h1>
    <p class="lead">Useful Natural Language Processing </p>
    <p><a href="/Demo/" class="btn btn-primary btn-large">Try it out &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>

        </p>
        <p>
            To start on getting meaning from language, check out the [demo] page. Then you can dig
            into other examples, learn more about meaning extraction
        </p>
        <p style="font-family: 'Lucida Sans', Arial, Helvetica, sans-serif; font-size: 12px; line-height: 16px; color: rgb(0, 0, 0);"></p>
        <p></p><a class="btn btn-default" href="/Demo/">Try it out &raquo;</a>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>